.homeContainer {
    background-color: #11082b;
    display: flex;
    height: 100vh;
    position: relative;
    text-align: center;
    font-family: "FuturaPT", sans-serif;
    font-weight: lighter;
  }

  .contentContainer {
      flex: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .homeTitle {
      font-size: 65px;
      font-weight: 300;
      color: white;
      margin: 0;
      margin-bottom: 1%;
  }

  .subtitle {
      color: white;
      font-size: 26px;
      font-weight: lighter;
      margin: 0;
      margin-bottom: 5%;
      opacity: 0.7;
  }

  .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .hollowButton {
    position:relative;
    vertical-align: middle;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    transition: 0.5s;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    border: 2px solid white;
    -webkit-transition:0.5s;
    text-decoration: none;
  }
  
  .hollowButton:hover {
    border: 2px solid rgba(0,160,80,0);
    color: #FFFACD;
  }
  
  .hollowButton::before, .hollowButton::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
  }
  
  .border::before {
    border-bottom: 3px solid #FFFACD;
    border-left: 3px solid #FFFACD;
    -webkit-transform-origin: 0 100%;
  }
  
  .border::after {
    border-top: 3px solid #FFFACD;
    border-right: 3px solid #FFFACD;
    -webkit-transform-origin: 100% 0%;
  }
  
  .hollowButton:hover::after, .hollowButton:hover::before {
    -webkit-transform: scale(1);
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  