.mask {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999
}

.modalContainer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%)
}

.modal {
    background-color: #EDEBF0;
    padding: 0px 0px 15px 0px
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: rgb(167, 165, 169);
    margin-bottom: 5px;
    margin-right: 5px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.workTitle {
    margin-bottom: 0;
    font-weight: lighter;
}

.descriptionContainer {
    font-family: "FuturaPT", sans-serif;
    font-weight: lighter;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
