.skillsContainer {
    height: 100%;
    padding-left: 100px;
    padding-top: 7%;
    color: white;
    font-family: "FuturaPT", sans-serif;
    font-weight: lighter;
    font-size: 21px;
    font-weight: 100;
    padding-bottom: 35px;
}

.skillsContainer h2 {
    font-family: "FuturaPT", sans-serif;
    font-weight: lighter;
    margin-bottom: 0;
}

.skillsContainer h2:first-child {
    font-family: "FuturaPT", sans-serif;
    font-weight: lighter;
    margin-bottom: 0;
}

.skillsContainer p {
    font-family: "FuturaPT", sans-serif;
    font-weight: lighter;
    margin-top: 0;
    opacity: 0.84;
}

.details {
    margin-top: 0;
}

.experienceContainer {
    margin-top: 14%
}

 .progressBarContainer {
    position: relative;
     width: 13%;
     height: 13%
 }