@font-face {
  font-family: 'FuturaPt';
  font-style: normal;
  font-weight: bold;
  src:
    local('FuturaPt Bold'),
    local('FuturaPt-Bold'),
    url(./assets/fonts/Futura/FuturaPTBold.otf) format('opentype');
}

@font-face {
  font-family: 'FuturaPt';
  font-style: normal;
  font-weight: lighter;
  src:
    local('FuturaPt Light'),
    local('FuturaPt-Light'),
    url(./assets/fonts/Futura/FuturaPTLight.otf) format('opentype');
}

/* @font-face {
  font-family: 'FuturaPt';
  font-style: normal;
  font-weight: 300;
  src:
    local('FuturaPt Medium'),
    local('FuturaPt-Medium'),
    url(./assets/fonts/Futura/FuturaPTMedium.otf) format('opentype');
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
